table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden; /* This is important for the border-radius to work on tables */
}

th, td {
  border-bottom: 1px solid var(--border-color);
  padding: 16px;
  text-align: left;
}
td {
  cursor: pointer;
}
th {
  background-color: var(--table-header-color);
  font-weight: bold;
}

tr:hover {
  background-color: var(--table-row-hover-color);
}
tr:last-child td {
  border-bottom: none;
}
/* Remove border from the last row's cells */