.group-name-container {
  margin: 20px 0;
  padding: 10px;
  width: 300px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.group-name-container:hover {
  background-color: var(--table-row-hover-color);
}

.group-name-h2 {
  margin: 0;
  font-size: 1.5em;
}
